.banner {

	background-image: linear-gradient(-225deg, rgba(54, 55, 55, 0.6) 0%, rgba(54, 55, 55, 0.6) 50%), url(../../images/banner.png);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 55px;
}